@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul,
  ol {
    list-style: none;
  }
}



@layer utilities {

  /*  =========CUSTOM SCROLLBAR===========*/
.scrollbar {
  scrollbar-color: #e2e8f0 #f8fafc; /* slate-200 */
}

  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

.scrollbar::-webkit-scrollbar-track {
  background: #f8fafc; /* slate-50 */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5f5; /* slate-300 */
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

}